@import './sidebar.css';
@import './sidebar.css';
@import './mediaquery.css';
@import './content.css';
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"); 

body{
    font: 15px black Arial, sans-serif;
}
.btn{
    margin: auto 4px;
}
table tr{
    text-align: center;
}
h1,h3,h4{
    text-align: center;
    margin-top: 20px;
}
#detailAlbumList .col-md-2, #detailAlbumList .col-sm-12{
    margin-top: 6px;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
 .fixedSide {

    position: fixed;
    width: 150px;
    top: 0;
    bottom: 0;
    left:0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
li:hover{
    cursor: pointer; 
}

.navbar {
    margin: 0 auto;
    max-width:650px;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
#citation{
    font-size:36px;
    font-family: 'Lobster', cursive;
}

